In [2]:
import pandas as pd 
import numpy as np 
import plotly.express as px

Data from https://data.stanford.edu/hcmst2017

In [4]:
data = pd.read_stata('../data/HCMST 2017 fresh sample for public sharing draft v1.1.dta')

In [14]:
pd.set_option('max_columns', 500)

In [15]:
data.head()

,CaseID,CASEID_NEW,qflag,weight1,weight1_freqwt,weight2,weight1a,weight1a_freqwt,weight_combo,weight_combo_freqwt,duration,speed_flag,consent,xlgb,S1,S2,S3,DOV_Branch,Q3_Refused,Q4,Q5,Q6A,Q6B,Q9,Q10,Q11,Q12,Q14,Q15A7,Q16,Q16_Refused,Q17A,Q17B,Q17C,Q17D,Q19,Q20,Q21A_Year,Q21A_Month,Q21B_Year,Q21B_Month,Q21C_Year,Q21C_Month,Q21D_Year,Q21D_Month,w6_identity,w6_outness,w6_outness_timing,Q23,Q24_Refused,Q25,Q26,Q27,Q28,w6_friend_connect_1,w6_friend_connect_2,w6_friend_connect_3,w6_friend_connect_4,w6_friend_connect_Refused,Q32,Q34,Q35_Refused,w6_sex_frequency,w6_otherdate,w6_how_many,w6_how_meet_Refused,w6_otherdate_app,w6_how_many_app,Past_Partner_Q1,w6_relationship_end_nonmar,w6_breakup_nonmar,w6_relationship_end_mar,w6_who_breakup,Q5_2,Q6A_2,Q9B_2,Q10_2,Q11_2,Q12_2,Q14_2,Q15A7_2_1,Q16_2,Q16_2_Codes,Q17B_2,Q17C_2,Q17D_2,Q20_2,Q21A_2_Year,Q21A_2_Month,Q21B_2_Year,Q21B_2_Month,Q21C_2_Year,Q21C_2_Month,Q21D_2_Year,Q21D_2_Month,Q21E_2_Year,Q21E_2_Month,Q21F_2_start_range,Q21F_2_Year,Q21F_2_Month,w6_identity_2,w6_outness_2,w6_outness_timing_2,Q23_2,Q25_2,Q26_2,Q27_2,Q28_2,w6_friend_connect_2_1,w6_friend_connect_2_2,w6_friend_connect_2_3,w6_friend_connect_2_4,w6_friend_connect_2_Refused,Q32_2,w6_otherdate_2,w6_how_many_2,w6_otherdate_app_2,w6_how_many_app_2,partyid7,PERSNET_hom,ppc10017,ppc21310,ppp20071,ppp20072,ppage,ppagecat,ppagect4,ppeduc,ppeducat,ppethm,ppgender,pphhhead,pphhsize,pphouse,ppincimp,ppmarit,ppmsacat,PPREG4,ppreg9,pprent,PPT01,PPT25,PPT612,PPT1317,PPT18OV,ppwork,Race_1,Race_2,Race_3,Race_4,Race_5,Race_6,race1,race2,race3,race4,race5,race6,race7,race8,race9,race10,race11,race12,race13,race14,race15,w6_took_the_survey,w6_prior_identity_lgb,w6_same_sex_couple,w6_same_sex_couple_gender,w6_q4,w6_q5,w6_q6a,w6_q6b,w6_q9,w6_q10,w6_q11,w6_q12,w6_q14,w6_q15a1_truncated,w6_q15a4_truncated,w6_q15a7,w6_q16,w6_q17,w6_attraction,w6_q19,w6_q20,w6_q21a_year,w6_q21a_month,w6_q21a_month_flag,w6_q21b_year,w6_q21b_month,w6_q21b_month_flag,w6_q21c_year,w6_q21c_month,w6_q21c_month_flag,w6_q21d_year,w6_q21d_month,w6_q21e_year,w6_q21e_month,w6_q21f_year,w6_q21f_month,w6_identity_all,w6_outness_all,w6_outness_timing_all,w6_q23,w6_q24_length,w6_q25,w6_q26,w6_q27,w6_q28,w6_friend_connect_1_all,w6_friend_connect_2_all,w6_friend_connect_3_all,w6_friend_connect_4_all,w6_q32,w6_q34,w6_otherdate_all,w6_how_many_all,w6_otherdate_app_all,w6_how_many_app_all,w6_number_people_met,w6_otherdate_dichotomous,w6_married,relate_duration_at_w6_years,w6_number_people_met_app,weight_combo_v2,partnership_status,female,year_fraction_met,year_fraction_relstart,age_when_met,time_from_met_to_rel,year_fraction_first_cohab,time_from_rel_to_cohab,hcm2017q24_R_cowork,hcm2017q24_R_friend,hcm2017q24_R_family,hcm2017q24_R_sig_other,hcm2017q24_R_neighbor,hcm2017q24_P_cowork,hcm2017q24_P_friend,hcm2017q24_P_family,hcm2017q24_P_sig_other,hcm2017q24_P_neighbor,hcm2017q24_btwn_I_cowork,hcm2017q24_btwn_I_friend,hcm2017q24_btwn_I_family,hcm2017q24_btwn_I_sig_other,hcm2017q24_btwn_I_neighbor,hcm2017q24_school,hcm2017q24_college,hcm2017q24_mil,hcm2017q24_church,hcm2017q24_vol_org,hcm2017q24_customer,hcm2017q24_bar_restaurant,hcm2017q24_party,hcm2017q24_internet_other,hcm2017q24_internet_dating,hcm2017q24_internet_soc_network,hcm2017q24_internet_game,hcm2017q24_internet_chat,hcm2017q24_internet_org,hcm2017q24_public,hcm2017q24_blind_date,hcm2017q24_vacation,hcm2017q24_single_serve_nonint,hcm2017q24_business_trip,hcm2017q24_work_neighbors,hcm2017q24_met_online,hcm2017_q24_length,hcm2017q24_summary_all_codes,w6_relationship_quality,hcm2017q24_met_through_family,hcm2017q24_met_through_friend,hcm2017q24_met_through_as_nghbrs,hcm2017q24_met_as_through_cowork,w6_subject_race,interracial_5cat,partner_mother_yrsed,subject_mother_yrsed,partner_yrsed,subject_yrsed
0,2,2014039,Qualified,NaN,NaN,0.8945,NaN,NaN,0.277188,19240.0,9,Completed survey in over 2 minutes,"Yes, I agree to participate",LGB sample,"No, I am not Married","No, I am single, with no boyfriend, no girlfri...",Yes,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,We broke up,I wanted to break up more,NaN,NaN,"Yes, we were a same-sex couple",No (Not Latino or Hispanic),1991,HS graduate or GED,HS graduate or GED,Leans Republican,Associate degree,I met [Partner Name] in [answer in Q15A7_2],1,NaN,Once,NaN,I am equally sexually attracted to men and women,No,2017,March,2017,March,NaN,NaN,NaN,NaN,2017,June,Q21B_2,NaN,NaN,bisexual,Only a few of them,13,I earned more,Different High School,NaN,No,No,No,No,No,Yes,No,"Yes, an Internet dating or matchmaking site (l...","Yes, I have met at least one person for dating...",Two to Five people. I met between two and five...,"No, I have not used a phone dating app in the ...",NaN,Leans Democrat,Yes,Yes,Every day,Not asked,Never,30,25-34,30-44,Associate degree,Some college,"White, Non-Hispanic",Male,Yes,1,A one-family house detached from any other house,"$40,000 to $49,999",Divorced,Metro,Northeast,Mid-Atlantic,Owned or being bought by you or someone in you...,0,0,0,0,1,Working - as a paid employee,Yes,No,No,No,No,No,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,took the survey,LGB,same_sex_couple,gay male couple,[Partner Name] is Male,"Yes, we are a same-sex couple",No (Not Latino or Hispanic),White,26.0,HS graduate or GED,HS graduate or GED,Leans Republican,Associate degree,United States,United States,I met [Partner Name] in [Answer in Q15A6],1.0,1.0,sexually attracted to men and women equally,NaN,No,2017.0,March,no,2017.0,March,0.0,NaN,NaN,NaN,NaN,NaN,2017.0,June,NaN,NaN,bisexual,Only a few of them,13.0,I earned more,232.0,Different High School,NaN,No,No,no,no,no,yes,"Yes, an Internet dating or matchmaking site (l...",NaN,"Yes, I have met at least one person for dating...","Yes, I have met at least one person for dating...",1.0,NaN,3.5,yes,no,NaN,0.0,0.390050,"unpartnered, has had past partner",0,2017.208374,2017.208374,30.0,0.000000,NaN,NaN,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,yes,no,no,no,no,no,no,no,no,no,no,yes,232.0,1.0,NaN,no,no,no,no,White,no,12.0,14.0,12.0,14.0
1,3,2019003,Qualified,0.9078,71115.0,NaN,0.9026,70707.0,1.020621,70841.0,11,Completed survey in over 2 minutes,"Yes, I agree to participate",gen pop,"Yes, I am Married",NaN,NaN,1,NaN,[Partner Name] is Male,NaN,No (Not Latino or Hispanic),White,52,Masters degree,HS graduate or GED,Leans Republican,Bachelors degree,I met [Partner Name] in [Answer in Q15A6],1.0,NaN,Once (this is my first marriage),NaN,I am sexually attracted only to men,NaN,Yes,NaN,1983,May,1995,August,1996,February,1996,February,heterosexual or straight,NaN,NaN,[Partner Name] earned more,NaN,Different High School,Did not attend same college or university,No,No,No,No,No,Yes,No,"No, I did NOT meet [Partner Name] through the ...",Excellent,NaN,Once a month or less,"No, I have not met anyone for dating, romance,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not Strong Republican,Not asked,Yes,Every day,No,Never,55,55-64,45-59,Masters degree,Bachelor's degree or higher,"White, Non-Hispanic",Female,Yes,4,A one-family house detached from any other house,"$150,000 to $174,999",Married,Metro,Midwest,East-North Central,Owned or being bought by you or someone in you...,0,0,0,2,2,Not working - other,Yes,No,No,No,No,No,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,took the survey,straight/ non LGB,NOT same-sex souple,hetero couple,[Partner Name] is Male,NaN,No (Not Latino or Hispanic),White,52.0,Masters degree,HS graduate or GED,Leans Republican,Bachelors degree,United States,United States,I met [Partner Name] in [Answer in Q15A6],1.0,1.0,sexually attracted only to opposite gender,Yes,NaN,1983.0,May,no,1995.0,August,0.0,1996.0,February,NaN,1996.0,February,NaN,NaN,NaN,NaN,heterosexual or straight,NaN,NaN,[Partner Name] earned more,213.0,Different High School,2.0,No,No,no,no,no,yes,"No, I did NOT meet [Partner Name] through the ...",Excellent,"No, I have not met anyone for dating, romance,...",NaN,NaN,NaN,0.0,no,yes,21.916666,NaN,0.999373,married,1,1983.375000,1995.625000,21.0,12.250000,1996.125000,0.500000,yes,no,no,no,no,yes,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,213.0,2.0,excellent,no,no,no,yes,White,no,12.0,16.0,17.0,17.0
2,5,2145527,Qualified,0.7205,56442.0,NaN,0.7164,56121.0,0.810074,56227.0,7,Completed survey in over 2 minutes,"Yes, I agree to participate",gen pop,"Yes, I am Married",NaN,NaN,1,NaN,[Partner Name] is Female,NaN,No (Not Latino or Hispanic),White,45,Associate degree,9th grade,Leans Democrat,7th or 8th grade,I met [Partner Name] in [Answer in Q15A6],0.0,NaN,Once (this is my first marriage),NaN,NaN,I am sexually attracted only to women,Yes,NaN,2006,January,2006,June,2006,July,2008,May,heterosexual or straight,NaN,NaN,I earned more,NaN,Different High School,Did not attend same college or university,No,No,No,No,No,Yes,No,"Yes, an Internet dating or matchmaking site (l...",Good,Refused,2 to 3 times a month,"No, I have not met anyone for dating, romance,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Leans Democrat,Yes,Yes,Every day,Yes,Once or twice a month,47,45-54,45-59,Masters degree,Bachelor's degree or higher,"White, Non-Hispanic",Male,Yes,5,A one-family house detached from any other house,"$200,000 to $249,999",Married,Metro,South,South Atlantic,Owned or being bought by you or someone in you...,0,1,2,0,2,Working - as a paid employee,Yes,No,No,No,No,No,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,took the survey,straight/ non LGB,NOT same-sex souple,hetero couple,[Partner Name] is Female,NaN,No (Not Latino or Hispanic),White,45.0,Associate degree,9th grade,Leans Democrat,7th or 8th grade,"Another country, please specify","Another country, please specify",I met [Partner Name] in [Answer in Q15A6],0.0,1.0,sexually attracted only to opposite gender,Yes,NaN,2006.0,January,no,2006.0,June,0.0,2006.0,July,NaN,2008.0,May,NaN,NaN,NaN,NaN,heterosexual or straight,NaN,NaN,I earned more,87.0,Different High School,2.0,No,No,no,no,no,yes,"Yes, an Internet dating or matchmaking site (l...",Good,"No, I have not met anyone for dating, romance,...",NaN,NaN,NaN,0.0,no,yes,11.083333,NaN,0.793209,married,0,2006.041626,2006.458374,36.0,0.416748,2006.541626,0.083252,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,yes,no,yes,no,no,no,no,no,no,no,no,no,no,no,yes,87.0,2.0,good,no,no,no,no,White,no,9.0,7.5,14.0,17.0
3,6,2648857,Qualified,1.2597,98682.0,1.3507,1.2524,98110.0,0.418556,29052.0,5,Completed survey in over 2 minutes,"Yes, I agree to participate",gen pop,"No, I am not Married","No, I am single, with no boyfriend, no girlfri...",Yes,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,We broke up,[Partner Name] wanted to break up more,NaN,NaN,"Yes, we were a same-sex couple",No (Not Latino or Hispanic),1991,HS graduate or GED,Bachelors degree,Undecided/Independent/Other,HS graduate or GED,"I met [Partner Name] somewhere else , Please s...",0,NaN,Never married,"I am mostly sexually attracted to women, less ...",NaN,No,2012,March,2013,April,NaN,NaN,NaN,NaN,2013,June,Q21B_2,NaN,NaN,bisexual,All or most of them,17,I earned more,Different High School,NaN,No,No,No,No,No,Yes,No,"Yes, a social networking site (like Facebook o...","No, I have not met anyone for dating, romance,...",NaN,NaN,NaN,Strong Democrat,Yes,Yes,Every day,No,Never,28,25-34,18-29,12th grade NO DIPLOMA,Less than high school,"White, Non-Hispanic",Female,No,3,A one-family house detached from any other house,"$40,000 to $49,999",Never married,Metro,Midwest,West-North Central,Owned or being bought by you or someone in you...,0,0,0,0,3,Not working - other,Yes,No,No,No,No,No,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,took the survey,LGB,same_sex_couple,lesbian couple,[Partner Name] is Female,"Yes, we are a same-sex couple",No (Not Latino or Hispanic),White,26.0,HS graduate or GED,Bachelors degree,Undecided/Independent/Other,HS graduate or GED,United States,United States,"I met [Partner Name] somewhere else, Please sp...",0.0,0.0,"sexually attracted mostly to same gender, some...",NaN,No,2012.0,March,no,2013.0,April,0.0,NaN,NaN,NaN,NaN,NaN,2013.0,June,NaN,NaN,bisexual,All or most of them,17.0,I earned more,80.0,Different High School,NaN,No,No,no,no,no,yes,"Yes, a social networking site (like Facebook o...",NaN,"No, I have not met anyone for dating, romance,...",NaN,NaN,NaN,0.0,no,no,NaN,NaN,0.588978,"unpartnered, has had past partner",1,2012.208374,2013.291626,23.0,1.083252,NaN,NaN,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,yes,no,no,no,no,no,no,no,no,yes,80.0,1.0,NaN,no,no,no,no,White,no,16.0,12.0,12.0,12.0
4,7,2623465,Qualified,0.8686,68044.0,NaN,0.8636,67652.0,0.976522,67781.0,13,Completed survey in over 2 minutes,"Yes, I agree to participate",gen pop,"Yes, I am Married",NaN,NaN,1,NaN,[Partner Name] is Male,NaN,No (Not Latino or Hispanic),White,59,Bachelors degree,Associate degree,Strong Democrat,Masters degree,I met [Partner Name] in [Answer in Q15A6],0.0,NaN,Once (this is my first marriage),NaN,"I am mostly sexually attracted to men, less of...",NaN,Yes,NaN,1983,September,1983,October,1984,August,1984,August,heterosexual or straight,NaN,NaN,[Partner Name] earned more,NaN,Different High School,Did not attend same college or university,No,No,No,No,No,Yes,No,"No, I did NOT meet [Partner Name] through the ...",Excellent,NaN,3 to 6 times a week,"No, I have not met anyone for dating, romance,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Strong Democrat,Yes,Yes,Every day,No,Once a year or less,59,55-64,45-59,Bachelors degree,Bachelor's degree or higher,"White, Non-Hispanic",Female,Yes,4,A one-family house detached from any other house,"$175,000 to $199,999",Married,Metro,South,South Atlantic,Owned or being bought by you or someone in you...,0,0,0,0,4,Working - as a paid employee,Yes,No,No,No,No,No,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,took the survey,straight/ non LGB,NOT same-sex souple,hetero couple,[Partner Name] is Male,NaN,No (Not Latino or Hispanic),White,59.0,Bachelors degree,Associate degree,Strong Democrat,Masters degree,United States,United States,I met [Partner Name] in [Answer in Q15A6],0.0,1.0,"sexually attracted mostly to opposite gender, ...",Yes,NaN,1983.0,September,no,1983.0,October,0.0,1984.0,August,NaN,1984.0,August,NaN,NaN,NaN,NaN,heterosexual or straight,NaN,NaN,[Partner Name] earned more,648.0,Different High School,2.0,No,No,no,no,no,yes,"No, I did NOT meet [Partner Name] through the ...",Excellent,"No, I have not met anyone for dating, romance,...",NaN,NaN,NaN,0.0,no,yes,33.750000,NaN,0.956191,married,1,1983.708374,1983.791626,25.0,0.083252,1984.625000,0.833374,no,no,no,no,yes,no,no,no,no,yes,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,no,yes,no,no,no,no,no,818.0,3.0,excellent,no,no,yes,no,White,no,14.0,17.0,16.0,16.0

In [6]:
data.shape

(3510, 285)

In [7]:
data.describe()

,CaseID,CASEID_NEW,weight1,weight1_freqwt,weight2,weight1a,weight1a_freqwt,weight_combo,weight_combo_freqwt,duration,...,age_when_met,time_from_met_to_rel,year_fraction_first_cohab,time_from_rel_to_cohab,hcm2017_q24_length,hcm2017q24_summary_all_codes,partner_mother_yrsed,subject_mother_yrsed,partner_yrsed,subject_yrsed
count,3510.000000,3.510000e+03,2994.000000,2994.000000,551.000000,3110.000000,3110.000000,3510.000000,3510.000000,3510.000000,...,3341.000000,3263.000000,2630.000000,2578.000000,3394.000000,3295.000000,3323.000000,3378.000000,3383.000000,3510.000000
mean,2121.318803,2.181073e+06,0.999999,78337.421875,1.000003,1.000001,78337.664062,1.000000,69410.179688,267.449858,...,26.651003,1.597072,1995.074951,1.900668,182.912491,1.978756,12.138730,12.279752,14.033255,13.945868
std,1241.582562,6.401295e+05,0.285004,22326.498047,0.908374,0.289889,22709.193359,0.437515,30367.962891,1406.882283,...,11.831783,4.361398,16.026434,2.727196,237.105133,1.118986,3.309459,3.229569,2.544955,2.546061
min,2.000000,5.300100e+04,0.264700,20736.000000,0.190300,0.263200,20618.000000,0.058970,4093.000000,0.000000,...,0.000000,0.000000,1944.375000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1040.250000,1.825512e+06,0.808000,63297.000000,0.519650,0.805000,63062.000000,0.818612,56819.750000,8.000000,...,18.000000,0.000000,1983.208374,0.333374,54.000000,1.000000,12.000000,12.000000,12.000000,12.000000
50%,2118.500000,2.282692e+06,0.943900,73943.000000,0.713300,0.946750,74166.000000,1.012706,70292.000000,11.000000,...,23.000000,0.166748,1997.416687,1.000000,124.000000,2.000000,12.000000,12.000000,13.000000,13.000000
75%,3189.750000,2.759544e+06,1.142650,89512.250000,1.134700,1.145200,89712.250000,1.245077,86421.000000,19.000000,...,32.000000,1.083252,2009.291626,2.416626,222.750000,3.000000,13.000000,14.000000,16.000000,16.000000
max,4311.000000,2.972135e+06,2.671000,209239.000000,7.797400,2.751100,215514.000000,3.110826,215923.000000,22135.000000,...,84.000000,54.750000,2017.541626,36.750000,3855.000000,7.000000,20.000000,20.000000,20.000000,20.000000

In [8]:
descr = data.describe()

In [18]:
nas = data.isna().sum()/data.shape[0]

In [22]:
len(nas[nas < 0.75])

208

In [27]:
def show_metric_details(metric_name):
    if metric_name not in data.columns:
        print(metric_name, " not in columns")
        return()

    cnts = data[metric_name].value_counts()
    pcts = data[metric_name].value_counts(normalize=True)
    mets = pd.concat([cnts, pcts], keys=['Counts', 'Pcts'], axis=1)
    return(mets)

In [23]:
nas['w6_sex_frequency']

0.18632478632478633

In [28]:
show_metric_details('w6_sex_frequency')

                      Counts      Pcts
Once a month or less     969  0.339286
Once or twice a week     744  0.260504
2 to 3 times a month     519  0.181723
3 to 6 times a week      368  0.128852
Refused                  170  0.059524
Once a day or more        86  0.030112

In [29]:
show_metric_details('w6_how_many')

                                                    Counts      Pcts
One person. I met only one person besides [Part...     107  0.475556
Two to Five people. I met between two and five ...      85  0.377778
Six to Twenty people. I met between six and twe...      25  0.111111
Twenty one to Fifty people. I met between twent...       6  0.026667
More than Fifty People. I met more than fifty d...       1  0.004444
Refused                                                  1  0.004444

In [30]:
show_metric_details('w6_relationship_end_mar')

                                         Counts      Pcts
[Partner Name] passed away, is deceased      64  0.484848
divorce                                      59  0.446970
separation with no divorce                    9  0.068182